<div class="main top-main">
    <div class="top-message">

    <div class="tops">
      <h2>Seimai_Appでお米の管理</h2>
      <p>2019年：10月〜</p>
  </div>
      <div class="link_box">
          <a href="/farmers">
            <div class="to_seimais_btn">生産者一覧</div>
          </a>
          <a href="/stocks">
            <div class="to_stocks_btn">入荷・在庫一覧</div>
          </a>
          <a href="/polishes">
            <div class="to_polishes_btn">精米一覧</div>
          </a>
          <a href="/items">
            <div class="to_items_btn">アイテム一覧</div>
          </a>
          <a href="/cliants">
            <div class="to_cliants_btn">顧客一覧</div>
          </a>
          <a href="/sales">
            <div class="to_sales_btn">Job一覧</div>
          </a>
      </div>
  
  </div>
</div>